[Desktop Entry]
Name=steam-browser
Exec=steam steam://openurl/%u
Terminal=false
Type=Application
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
NoDisplay=true
