#!/usr/bin/make -f
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@


# dh_make generated override targets
override_dh_auto_configure:
	dh_auto_configure -- \
			--prefix=/usr
