[Unit]
Description=Simple X Hotkey Daemon
After=default.target

[Service]
ExecStart=/usr/bin/sxhkd -c /etc/steamos-compositor-plus/sxhkdrc
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID
Restart=always

[Install]
WantedBy=graphical.target
